.gpt3__features {
  margin-top: 8rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.gpt3__features-heading p {
  color: var(--color-subtext);
}
.gpt3__features-heading {
  max-width: 45%;
  padding: 0 8rem 0 2rem;
}
.gpt3__features-heading h1 {
  margin: 1.5rem 0 3rem;
}
.gpt3__features-heading p {
  cursor: pointer;
}
.gpt__features-container {
  max-width: 55%;
  padding: 0 2rem;
}
.gpt__features-container h1 {
  font-size: calc(14px + 0.380625vw);
}
.gpt__features-container p {
  font-size: calc(11px + 0.380625vw);
  padding: 1rem 0;
}
.flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 1160px) {
  .flex p {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 968px) {
  .flex {
    flex-direction: column;
    gap: 0;
  }
  .gpt3__features-heading {
    max-width: 45%;
    padding: 0 2rem 0 2rem;
  }
}

@media screen and (max-width: 776px) {
  .flex {
    flex-direction: column;
  }
  .gpt3__features {
    flex-direction: column;
  }
  .gpt3__features-heading,
  .gpt__features-container {
    max-width: 100%;
  }
  .gpt3__features-heading p,
  .gpt3__features-heading h1 {
    text-align: center;
    padding-bottom: 2rem;
  }
  .flex p {
    margin-bottom: 0;
  }
  .gpt3__features {
    margin-top: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
